.page {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 4.2rem;
  font-weight: 500;


  background: #757F9A;  /* fallback for old browsers */
  background-image: -webkit-linear-gradient(to top, rgba(215, 221, 232, 0.4), rgba(117, 127, 154, 0.4)), url(../../../assets/cyrodiil.png);  /* Chrome 10-25, Safari 5.1-6 */
  background-image: linear-gradient(to top, rgba(215, 221, 232, 0.4), rgba(117, 127, 154, 0.4)), url(../../../assets/cyrodiil.png); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  //background-image: url(../../../assets/cyrodiil.png);
  background-size: cover;
}

.background-blur {
  background-color: rgba(120, 120, 120, 0.8);
  border-radius: 2rem;
  padding: 2rem;
}

.mid-season {
  color: #111;
}