.page {
  min-height: 100vh;
  display: flex;

  background: #757F9A;  /* fallback for old browsers */
  background-image: -webkit-linear-gradient(to top, rgba(215, 221, 232, 0.4), rgba(117, 127, 154, 0.4)), url(../../../assets/alinor.jpg);  /* Chrome 10-25, Safari 5.1-6 */
  background-image: linear-gradient(to top, rgba(215, 221, 232, 0.4), rgba(117, 127, 154, 0.4)), url(../../../assets/alinor.jpg); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  background-size: cover;

}

.section {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: space-around;
  margin: auto;

  width: 25rem;
  height: 25rem;

  border-style: solid;
  border-width: 0.5rem;
  border-color: #333;
  border-radius: 2.5rem;

  //background-color: rgba(3, 3, 3, 0.5);


}

button {
  width: 20rem;
  aspect-ratio: 1 / 0.3;

  color: #222;
  font-size: 1.7rem;
  font-weight: 600;
  letter-spacing: 0.05rem;

  border-style: solid;
  border-width: 0.5rem;
  border-color: #333;
  border-radius: 10rem;

  background-color: inherit;

  color: #fff;
  background-color: #333;
}

button:hover {
  color: #333;
  background-color: #333;
}

button:active {
  color: #22c55e;
  background-color: #22c55e;
  border-color: #fff;
}